body {
    background-color: ;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    text-align: center;
    background-color: black;
    color: white;
    font-style: italic;
}

.photo_moto {
    display: block; 
    width: 20%;
    margin: auto;
}

.cara_moto {
    margin-left: 0px;
}

.title_2 {
    text-align: center;
}

.chassis {
    color: red;
    margin-left: 100px;
}

.liste {
    margin-left: 100px;
}

.prix {
    text-align: center;
    margin-top: -50px;
    font-style: italic;
}

.bouton {

  background-color: rgb(253, 249, 6);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #00000;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}



